.after-menu {

  font-family: "Oswald", "Tahoma", sans-serif;
  background: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px, 100%;
  background-position: top center;
  background-repeat: no-repeat;
  color: @white;
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: relative;
  padding: 27px 36px;

  @media (min-width: 768px), (max-width: 1440px) {
    background: none;
    color: @black;
    align-items: flex-start;
    justify-content: start;
  }

  @media (max-width: 1440px) {
    background: url("../img/index-background-desktop@1x.jpg");
  }

  &__title {
    .font-feature(36px);
  }

  &__subtitle {
    .font-feature(14px);
    margin-top: 15px;
    text-transform: uppercase;
 }

  .after-menu__image {
    position: absolute;
    bottom: -200px;
    left: -20px;
    margin-bottom: 3px;

    @media (min-width: 768px), (max-width: 1440px) {
      align-items: center;

    }
  }

  a {
    position: absolute;
    bottom: -220px;
    left: 0;
  }
}
