.button {
  display: block;
  width: 280px;
  margin: 15px auto;
  padding: 10px 0;
  font-family: "Oswald", "Tahoma", sans-serif;
  color: @white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  .font-feature-2(16px);
}

.button--green {
  background-color: @green;
}

.button--grey {
  background-color: @grey;
  color: @dark-grey;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
