.catalog--wrapper {
  width: 320px;
}

.catalog__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  .font-feature(36px);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 49px;
  border-top: 1px solid @main-border;
  border-bottom: 1px solid @main-border;
  }

.catalog__item {
  border-bottom: 1px solid @secondary-border;
  margin-bottom: 8px;
  padding-top: 11px;
}

.catalog__container {
  display: flex;
}

.catalog__image {
  width: 50%;
}

.catalog__content {
  display: flex;
  flex-direction: column;
  width: 146px;

  a {
    font-family: "Oswald", "Tahoma", sans-serif;
    .font-feature-2(16px);
    color: @catalog-feature;
    text-decoration: none;
    text-transform: uppercase;

  }

  .catalog__text {
    width: 106px;
    margin: 0;
  }

  &-wrapper {
    font-family: "Arial", sans-serif;
    .font-feature-2(12px);
    color: @dark-grey;
    margin-top: 19px;
    margin-bottom: 13px;

    dt,
    dd{
        display: inline;
        margin: 0;
    }

    dt  {
        clear: left;
        float: left;
        width: 50%;
    }

    dd {
        clear: right;
        float: right;
        width: 50%;
        text-align: right;
    }
  }
}


@media (min-width: 768px) {

  .catalog--wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog__title {
    border: none;
    .font-feature(60px);
  }

  .catalog__item {
    background-color: @grey;
    width: 324px;
    display: block;
    margin: 0 auto;
  }
}
