.catalog {
  min-width: 320px;
  text-align: center;
  margin: 0;
  padding: 0;

&__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  .font-feature(36px);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 49px;
  border-top: 1px solid @main-border;
  border-bottom: 1px solid @main-border;
  }

  &__list {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style-type: none;
  padding: 0 20px;
}
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  padding-top: 11px;
  border-bottom: 1px solid @secondary-border;

  &__content {
    width: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__link {
    text-decoration: none;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__name {
    width: 106px;
    text-align: left;
    font-family: "Oswald", "Tahoma", sans-serif;
    .font-feature-2(16px);
    color: @catalog-feature;
    text-transform: uppercase;
  }

  &__table {
    font-family: "Arial", sans-serif;
    .font-feature-2(12px);
    color: @dark-grey;
    margin-top: 19px;
    margin-bottom: 13px;

    dt,
    dd{
        display: inline;
        margin: 0;
    }

    dt  {
        clear: left;
        float: left;
        text-align: left;

    }

    dd {
        clear: right;
        float: right;
        text-align: right;
    }
  }

  &__more {
    padding-top: 79px;
    text-align: center;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: 30px 30px;
 }

 &__title {
  display: block;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  .font-feature-2(16px);
}

&__subtitle {
  display: block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  .font-feature-2(12px);
  margin-bottom: 21px;
}
}

.product-card__button--more {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .catalog__title {
    margin: 65px 0 0 30px;
    text-align: left;
    padding: 0;
    border: none;
    .font-feature(60px);
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 83px;
  }

  .product-card {
    width: 324px;
    height: auto;
    display: block;
    padding: 0 37px 40px 36px;
    background-image: linear-gradient(to top, @grey 90%, @white 10%);
    width: 324px;
    height: 511px;
    margin: 59px auto;

  }
  .product-card__content {
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-card__wrapper {
    margin-top: 34px;
  }

  .product-card__name {
    border: none;
    .font-feature-2(20px);
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }

  .product-card__table {
    .font-feature(16px);

    dt,
    dd {
      border-bottom: 1px solid @dtdd-border;
      padding: 9px 0;
    }

    dt  {
      clear: left;
      float: left;
      text-align: left;
  }

  dd {
      clear: right;
      float: right;
      text-align: right;
  }
  }

  .product-card__button {
    margin-top: auto;
  }

  .product-card__more {
    height: 460px;
    box-sizing: border-box;
    border: 2px solid @grey;
    margin-top: 110px;
    padding: 161px 38px 0;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: 60px 60px;
  }

  .product-card__title {
    .font-feature-5(20px);
    width: 50%;
    margin: 0 auto 23px;
  }

  .product-card__subtitle {
    .font-feature-5(16px);
    width: 70%;
    margin: 0 auto 87px;
  }
}

@media (min-width: 1440px) {

  .catalog__title {
    margin-left: 110px;
  }

  .catalog__list {
    padding: 0 110px;
  }
  .product-card {
    width: 245px;
    margin-right: 80px;
    margin-top: 63px;
  }

  .product-card__content {
    width: 180px;
  }
  .product-card__name {
    .font-feature-9(20px);
  }

  .product-card__more {
    margin-top: 110px;
  }

  .product-card__subtitle {
    .font-feature-5(16px);
    width: 70%;
    margin: 0 auto 47px;
  }
}
