.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @grey;
}

  .footer__title {

    width: 320px;
    padding: 39px 0 32px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid @secondary-border;

    img {
      width: 128px;
      height: auto;
    }
  }

  .footer__social {
    width: 320px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid @secondary-border;
  }


    .footer__link-vk {
      display: block;
      width: 23px;
      height: 16px;
      background-image: url("../img/icon-vk.svg");
      background-repeat: no-repeat;

    }

    .footer__link-ig {
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon-insta.svg");
      background-repeat: no-repeat;
    }

    .footer__link-fb {
      display: block;
      width: 23px;
      height: 16px;
      background-image: url("../img/icon-fb.svg");
      background-repeat: no-repeat;
    }



    .footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;


    p {
      font-family: "Arial", sans-serif;
      .font-feature-5(14px);
      color: @dark-grey;

    }

    a {
      width: 27px;
      height: 34px;

    }
  }


@media (min-width: 768px) {
.wrapper--footer {
  display: flex;
  justify-content: space-between;
  padding: 55px 30px 61px;
}

.footer__title {

  width: auto;
  margin: 0;
}

.footer__social li a{
  margin: 0;
}

.footer__link-vk {
  display: block;
  width: 30px;
  height: 22px;

}

.footer__link-ig {
  display: block;
  width: 23px;
  height: 23px;

}

.footer__link-fb {
  display: block;
  width: 28px;
  height: 33px;

}

.footer__copyright p {
  font-family: "Arial", sans-serif;
  .font-feature-5(16px);
  margin-right: 22px;
}

}
