// Начните писать стили здесь
.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;

  &__logo {
    width: 172px;
    height: 57px;
    margin: auto;
  }
}
