.how-it-works__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  .font-feature-4(36px);
  margin-bottom: 38px;
}

.how-it-works__list {
  list-style: none;
  width: 280px;
  padding: 0;
  margin-bottom: 42px;
}

.how-it-works__item {

  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  .font-feature-2(14px);
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    margin-left: 20px;
  }
  span {
    font-family: "Oswald", "Tahoma", sans-serif;
    .font-feature(280px);
    color: @grey;
    display: none;
  }
}

@media (min-width: 768px) {

  .how-it-works__list {
    display: grid;
    position: relative;
    width: 708px;
    height: 514px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
    margin-bottom: 37px;

  }

  .how-it-works__item {
    width: 230px;


    p {
      .font-feature-7(16px);
    }


    .item--leaf {
      position: relative;
      z-index: 2;
      &::before {
        content: "";
        width: 60px;
        height: 60px;
        background-color: @green;
        background-repeat: no-repeat;
        position: absolute;
        top: -40px;
        left: 0;
      }

      &::after {
        content: "1";
        font-size: 280px;
        color: @grey;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
      }
    }

    .item--water {
      position: relative;
      z-index: 2;
      &::before {
        content: "";
        width: 60px;
        height: 60px;
        background-color: @green;
        background-repeat: no-repeat;
        position: absolute;
        top: -40px;
        left: 0;
      }

      &::after {
        content: "2";
        font-size: 280px;
        color: @grey;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
      }
    }

    .item--fork {
      position: relative;
      z-index: 2;
      &::before {
        content: "";
        width: 60px;
        height: 60px;
        background-color: @green;
        background-repeat: no-repeat;
        position: absolute;
        top: -40px;
        left: 0;
      }

      &::after {
        content: "3";
        font-size: 280px;
        color: @grey;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
      }
    }

    .item--weight {
      position: relative;
      z-index: 2;
      &::before {
        content: "";
        width: 60px;
        height: 60px;
        background-color: @green;
        background-repeat: no-repeat;
        position: absolute;
        top: -40px;
        left: 0;
      }

      &::after {
        content: "4";

        font-size: 280px;
        color: @grey;
        background-repeat: no-repeat;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
      }
    }

}

@media (min-width: 1440px) {

  .how-it-works {
    margin-top: 71px;
  }

  .how-it-works__title {
    font-family: "Oswald", "Tahoma", sans-serif;
    .font-feature(60px);
    margin-bottom: 32px;
  }

  .how-it-works__list {
    display: grid;
    height: 280px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    column-gap: 94px;
    /*row-gap: 37px;*/
    margin-bottom: 69px;

  }

  .how-it-works__item {
    margin-top: 32px;
    padding-top: 80px;

  }

  .item--leaf {
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background-color: @green;
      background-repeat: no-repeat;
      position: absolute;
      top: -40px;
      left: 0;
    }

    &::after {
      content: "1";
      font-size: 280px;
      color: @grey;
      background-repeat: no-repeat;
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 1;
    }
  }

  .item--water {
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background-color: @green;
      background-repeat: no-repeat;
      position: absolute;
      top: -40px;
      left: 0;
    }

    &::after {
      content: "2";
      font-size: 280px;
      color: @grey;
      background-repeat: no-repeat;
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 1;
    }
  }

  .item--fork {
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background-color: @green;
      background-repeat: no-repeat;
      position: absolute;
      top: -40px;
      left: 0;
    }

    &::after {
      content: "3";
      font-size: 280px;
      color: @grey;
      background-repeat: no-repeat;
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 1;
    }
  }

  .item--weight {
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background-color: @green;
      background-repeat: no-repeat;
      position: absolute;
      top: -40px;
      left: 0;
    }

    &::after {
      content: "4";

      font-size: 280px;
      color: @grey;
      background-repeat: no-repeat;
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 1;
    }
  }

}
}
