.menu__logo-container {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  .font-feature(20px);
  font-family: "Oswald", "Tahoma", sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  font-weight: 500;
  border-top: 1px solid @secondary-border;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: @black;
  padding: 25px 0;
}


@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    padding: 25px 0;
  }
  .menu__logo-container {
    padding: 0;
    margin: 0;
  }

  .menu__list {
    .font-feature-6(18px);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .menu__item {
    border: none;
    margin-left: 36px;
  }

  .menu__link {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 35px;

  }

  .menu__link--index {
    color: @white;
    .font-feature-8(20px);
  }
}
