.more-products {
  margin-top: 90px;
  text-align: center;
  background-image: url("../../img/icon-plus-mobile.svg");

  &__title {
    display: block;
    font-family: "Oswald", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    .font-feature-2(16px);

  }

  &__subtitle {
    display: block;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    .font-feature-2(12px);
  }
}
