.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}



  @media (min-width: 768px) {
    .wrapper {
    width: 768px;
    padding: 0 30px;
    }
  }

  @media (min-width: 1440px) {
    .wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}
