.font-feature(@value) {
  font-size: @value;
  line-height: @value;
}

.font-feature-2(@value) {
  font-size: @value;
  line-height: (@value + 4);
}

.font-feature-3(@value) {
  font-size: @value;
  line-height: (@value + 13);
}

.font-feature-4(@value) {
  font-size: @value;
  line-height: (@value + 14);
}

.font-feature-5(@value) {
  font-size: @value;
  line-height: (@value + 2);
}
